$("#comment-form").replaceWith("<%= escape_javascript render("form.html", changeset: @changeset, action: post_comment_path(@conn, :create, @post), conn: @conn) %>");
$("#comments").append("<%= escape_javascript render(Citybuilder.Web.PostView, "_comment.html", conn: @conn, comment: @comment, upvote: nil) %>");
