<span class="upvote-count", data-current-count="<%= @comment.upvotes_count.count %>">
  <%= if @upvote do %>
    <%= link " #{@comment.upvotes_count.count} ❤ ", to: comment_upvote_path(@conn, :delete, @comment), "ujs-method": "delete", "ujs-remote": true, "ujs-eval": true, class: "btn btn-default btn-md btn-edit-post unicode-lg upvote-btn upvote-delete-btn upvote-font" %>
  <% else %>
    <%= link " #{@comment.upvotes_count.count} ❤ ", to: comment_upvote_path(@conn, :create, @comment), "ujs-method": "post", "ujs-remote": true, "ujs-eval": true, class: "btn btn-default btn-md btn-edit-post unicode-lg upvote-btn upvote-add-btn upvote-font upvote-delete-btn" %>
  <% end %>
</span>
