<h2>Fork Story</h2>
<h3>Old Version</h3>
<%= render "form.html", changeset: @changeset,
                        action: post_path(@conn, :update, @post) %>
    <h3>New Version</h3>
    <%= render "form.html", changeset: @changeset,
                        action: post_path(@conn, :update, @post) %>
        <span><%= link "Go to Main Page", to: post_path(@conn, :index), class: "btn btn-info" %></span>