<td colspan="2" class="post-restore hidden">
  Post deleted. Click here to undelete... In 10 seconds it'll be gone forever.
  <%= link "Restore", to: post_path(@conn, :restore, @post), "ujs-method": "post", "ujs-remote": true, "ujs-eval": true, class: "btn btn-default post-restore-btn" %>
</td>
