<link href='https://fonts.googleapis.com/css?family=Josefin+Sans|Josefin Sans:400,500,600,700,800|Montserrat:400,500,600,700,800|Raleway:100,200,300,400,500,600,700,800|Arima+Madurai:200,300,400' rel='stylesheet'
  type='text/css'>

  <style>
    body {
      font-family: 'Josefin Sans', 'Century Gothic' !important;
    }
    </style>
      <br>
     <!--<p class="choose-a-font preview-title-choose-font mobile-hide">Title</p><p class="choose-a-font preview-text-choose-font mobile-hide">Body</p>-->
           
      <div class="font-select-div mobile-hide">
          <h3 class="select-fonts"><span class="select-fonts-1">S</span><span class="select-fonts-2">e</span><span class="select-fonts-3">l</span><span class="select-fonts-4">e</span><span class="select-fonts-5">c</span><span class="select-fonts-6">t </span><span class="select-fonts-7">f</span><span class="select-fonts-8">o</span><span class="select-fonts-9">n</span><span class="select-fonts-10">t</span><span class="select-fonts-11">s</span>
                <span class="select-fonts-12">!</span>
              <span class="select-fonts-13">!</span>
              <span class="select-fonts-14">!</span>
              </h3>
   
   
   
   
   
   
    <div class="font-selector"><!-- FOR TITLE -->
<select>
</select>
</div>
<br>

<div class="font-selector-text"><!--FOR BODY -->
<select>
</select>
</div>
</div>

<br><br>
<div class="center-wrap">
  <br><br><br><br><br><br><br>


<span><%= link "What's Up ?", to: post_path(@conn, :new), class: "whats-happening-button" %></span>
<!--<div class="whats-happening-opaque-overlay">What's Up ?</div>-->

<%= if @user do %>
<span class="hello-user">Hello <%= @user.username %>! <%= raw welcome(get_flash(@conn, :signed_in), @conn, @posts) %></span>
<span><%= link "logout", to: session_path(@conn, :logout), method: :delete, class: "logout-button" %></span>
<% else %>
  <span><%= link "LOGIN      ", to: user_path(@conn, :signin), class: "login-btn"%></span>
  <span><%= link "SIGN UP", to: user_path(@conn, :new), class: "sign-up-btn" %></span>
<% end %>
</div>



<div class="sidebar-div">
  <%= for {topic, index} <- Enum.with_index(@conn.assigns.topics) do %>
  <div class="sidebar-1">
   <%= link topic.name, to: topic_path(@conn, :show, topic.slug) %>
  </div>
  <% end %>
</div>
<!--<button onclick="changeColor()" class="color-button mobile-hide">Random Color</button>-->
<!--<button onclick="testAlert()">Test Alert</button>-->
<br>
<table class="table posts">
  <tbody>
<%= for post <- @posts do %>
    <tr id="post_<%= post.id %>">
      <td>
      <h1 class="preview-title"><%= post.title %></h1>
      <!--<p>Created by: <%#= post.user.name %></p>-->
      <p class="preview-text"><%= truncate post.body, length: 400, separator: " " %></p>
       <br><br>
       <span><%= link "	📖 ", to: post_path(@conn, :show, post), class: "btn btn-default btn-md btn-read-post unicode-lg" %></span>
        <span><%= link "✎", to: post_path(@conn, :edit, post), class: "btn btn-default btn-md btn-edit-post unicode-lg "    %>
        <span><%= link " delete ", to: post_path(@conn, :delete, post), method: :delete, data: [confirm: "Delete...Are you sure?"], class: "btn btn-danger btn-md btn-delete-post unicode-lg" %></span>
        <span class="upvote-count", data-current-count="<%= post.upvotes_count.count %>">
          <%= link " #{post.upvotes_count.count} ⇧ ", to: post_upvote_path(@conn, :create, post), "ujs-method": "post", "ujs-remote": true, class: upvoted_class("not_upvoted", @upvotes[post.id]) <> "btn btn-default btn-md btn-edit-post unicode-lg upvote-btn upvote-add-btn upvote-font" %>
          <%= link " #{post.upvotes_count.count} ⇧", to: post_upvote_path(@conn, :create, post), "ujs-method": "delete", "ujs-remote": true, class: upvoted_class("upvoted", @upvotes[post.id]) <> "btn btn-default btn-md btn-edit-post unicode-lg upvote-btn upvote-delete-btn upvote-font" %>
        </span>
        <!--<span><%#= link "Fork", to: post_path(@conn, :fork, post), class: "btn btn-default btn-xs" %></span>-->
        <span><%= link " #{@forks_count[root_path(post.path)]} 𝝍 ", to: post_path(@conn, :fork, post), class: "btn btn-default btn-md unicode-lg" %> </span>
     <br><br><br>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>

<script>

function testAlert(){
    alert("Test Alert Was Pushed")
};


function changeColor() {
    alert("change color was pushed");
	var x = Math.floor(Math.random() * 255); // range is 0-255
	var y = Math.floor(Math.random() * 255);
	var z = Math.floor(Math.random() * 255);
  var avoidgreyminus = x - 150;
  var avoidgreyplus = x + 150;
  var opacity = 0.05;
  
   
  if (x < 125) {
   //alert("x is less than 125, avoidgreyplus will be used")
   var thergb = "rgba(" + x + "," + y + "," + avoidgreyplus + "," + opacity + ")"; 
  // alert("the rgba is " + thergb)
   	console.log(thergb,document.body.style.background);
	document.body.style.background=thergb;
  }
  
  else {
 // alert ("x is more than 125, avoidgreyminus will be used")
  var thergb = "rgba(" + x + "," + y + "," + avoidgreyminus + "," + opacity + ")"; 
 // alert("the rgba is " + thergb)
  	console.log(thergb,document.body.style.background);
	document.body.style.background=thergb;
  }

</script>
<br><br><br><br><br><br>
 <!--<a href="http://codepen.io/ARS" target="_blank"><span class="large-test-button">               Ψ</span></a>-->

<!-- HTML HELL -->

<!--<div class="mask"></div>-->
<!--<span id="multi-colored-letter-1"></span><span id="multi-colored-letter-2"></span><span id="multi-colored-letter-3"></span>-->
<!--<span id="multi-colored-letter-4"></span><span id="multi-colored-letter-5"></span><span id="multi-colored-letter-6"></span>-->
<!--<span id="multi-colored-letter-7"></span><span id="multi-colored-letter-7"></span><span id="multi-colored-letter-8"></span><span id="multi-colored-letter-9"></span>-->
<!--<span id="multi-colored-letter-10"></span><span id="multi-colored-letter-11"></span><span id="multi-colored-letter-12"></span><span id="multi-colored-letter-13"></span><span id="multi-colored-letter-14"></span><span id="multi-colored-letter-15"></span><span id="multi-colored-letter-16"></span>-->
<!--</div>-->

 <!--BLOGS YOU CAN FORK MULTI-COLORED<span class="blogs-u-can-fork"><span id="multi-colored-letter-1">B</span><span id="multi-colored-letter-2">l</span><span id="multi-colored-letter-3">o</span><span id="multi-colored-letter-4">g</span><span id="multi-colored-letter-5">s </span><span id="multi-colored-letter-6">y</span><span id="multi-colored-letter-7">o</span><span id="multi-colored-letter-8">u</span><span id="multi-colored-letter-9"> c</span><span id="multi-colored-letter-10">a</span><span id="multi-colored-letter-11">n</span><span id="multi-colored-letter-12"> f</span><span id="multi-colored-letter-13">o</span><span id="multi-colored-letter-14">r</span><span id="multi-colored-letter-15">k</span></span>-->