<!--<h2>Show Post</h2>-->

<link href='https://fonts.googleapis.com/css?family=Josefin+Sans|Chivo:500,600,700|Josefin Sans|Cutive+Mono:300,400|Montserrat:200,300,400,500,600,700,800|Raleway:100,200,300,400' rel='stylesheet'
  type='text/css'>

  <header class="show-page-header">
    <span><%= link "< index ", to: post_path(@conn, :index), class: "btn btn-default show-white-btn" %></span><!--show-main -->
     <span><%= link "Edit", to: post_path(@conn, :edit, @post), class: "btn btn-default show-edit-white-btn"%></span><!--show-edit -->
     <span><%= link " 𝜓	", to: post_path(@conn, :fork, @post), class:  "btn btn-defaul show-white-fork-btn"%></span><!--show-page-fork-button-->



  </header>

 <br> <br> <br>  <br> <br> <br> <br> <br> <br>
  <ul>

 	    <br> <br>  <br> <br>
 	    <!--<p class="display-post-title-wrapper">-->
 	   <h1 class="display-post-title-index-show">
       <%= @post.title %>
    </h1>
    <!--</p>-->
  	<!--<div class="display-post-body-wrapper">-->
	   <p class="display-post-body-show">
       <%= @post.body %>
   	      <!--<span><%#= link "Fork this", to: post_path(@conn, :update, @post), class: "btn btn-default"%></span>-->
    </p>
    <br><hr>
    <div class="bitspinner">
      <h1><span class="eurospinner"><span class="eurospinner bitspinner">C</span><span class="burgundy">o</span>mm</span><span class="bitspinner"><span class="orange">e</span>nts</span><span class="teal-jade">!</span></h1>
    </div>
    <table id="comments">
      <tbody>
        <%= for comment <- @comments do %>
        <%= render "_comment.html", conn: @conn, post: @post, comment: comment, class: "comment-class" %>
        <% end %>
        <hr>
        <br><br> <br><br> <br><br>
      </tbody>
    </table>

    <%= if @conn.assigns.user do %>
      <%= render LiveStory.Web.CommentView, "form.html", changeset: @comment_changeset, action: post_comment_path(@conn, :create, @post), conn: @conn %>
    <% else %>
      <i>You must be <%= link "signed in", to: user_path(@conn, :signin) %> to comment this post</i>
    <% end %>
     <br><br><br> <br><br><br> <br><br><br>  <br><br><br> <br><br><br> <br><br><br>
    <!--</div>-->
    <br>
   </ul>
 <br><br><br> <br><br><br> <br><br><br>


  <br><br>

 <br><br><br>
