$("#comment-form").replaceWith("<%= escape_javascript render("form.html", changeset: @changeset, action: post_comment_path(@conn, :create, @post)) %>");
$("#comments").prepend("<%= escape_javascript render(LiveStory.Web.PostView, "_comment.html", comment: @comment) %>");
