<h1>
  <%= @topic.name %>
</h1>

<table>
  <tbody>
    <%= for post <- @posts do %>
    <tr id="post_<%= post.id %>">
      <td>
        <h1 class="display-post-title-index"><%= link post.title, to: post_path(@conn, :show, post) %></h1>
        upvotes: <%= post.upvotes_count.count %>
        path: <%= post.path %>
        <%= link "forks", to: post_fork_path(@conn, :index, post) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
