@import url('http://fonts.googleapis.com/css?family=Josefin Sans:200,300,400,500,600,700,800');
@import url('http://fonts.googleapis.com/css?family=Roboto:200,300,400,700|Montserrat:200,300,400,700,800|Raleway:200,300,400|Arima+Madurai:200,300,400,500|Source Sans Pro:200,300,400,500,600');

/* https://en.wikipedia.org/wiki/Psi_(letter) */

/*

RESOURCES


*/

html, body {
    /*font-family: 'Josefin Sans', sans-serif !important;*/
    /*font-size: 33px;*/
    /*color: rgba(20,20,20,0.8);*/
    padding: 0px;
    margin: 0px;
}



/*html, body {*/
/*  height: 100%;*/
/*  width: 100%;*/
/*  margin: 0;*/
/*  background-repeat: no-repeat;*/
/* }*/

/*#gradient {*/
/* CAN BE USED TO PUT A SHEEN BEHIND HEADERS AND TEXT. 
/* PROBABLY A WASTE OF BANDWIDTH, BUT COULD BE OK 
/* position: absolute;*/
/*  margin-top: -10%;*/
/*  margin-left: -25%;*/
/*  height: 100%;*/
/*  width: 105%;*/
/*  box-shadow: 2px 2px 2px rgba(30,30,30,0.5);*/
/*  z-index: 5;*/
/*  opacity: 0.5;*/
/*<!--OPAQUE..<div id="gradient"></div>-->*/
/*}*/

.writing-top {
  position: absolute;
  margin-top: -5%;
  margin-left:-12%;
  font-family: Helvetica !important;
  font-size: 100px !important;
  letter-spacing: -15px;
  color: rgba(255,220,220,0.80); /*rgba(220,120,0,0.80);*/
  font-weight: 700;
  z-index: 3;
  text-shadow: 1px 1px 1px rgba(5,5,5,0.3);
}

.writing-base {
  position: absolute;
  margin-top: 4%;
  margin-left: -12%;
  font-family: Helvetica !important;
  font-size: 100px !important;
  letter-spacing: -8px;
  color: rgba(255,220,220,0.80);
  font-weight: 600;
  z-index: 2;
  text-shadow: 1px 1px 1px rgba(5,5,5,0.3);
    
}

/*.whats-happening-button {*/
    /*WHAT's UP*/
/*    font-family: Helvetica;*/
/*    font-size: 150px;*/
/*    letter-spacing: -8px;*/
/*    font-weight: 800;*/
/*	position: absolute;*/
/*	margin-left: -80%;*/
	/*background-color: rgba(255,255,255,0.07);*/
	/*background-size: cover;*/
	/*background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/577362/pexels-photo-134620%20(1).jpeg) no-repeat 50% 50% !important;*/
/*	border: 1px inset rgba(100,100,100,0.2);*/
/*	border-radius: 1px 3px 0px 10px;*/
/*	max-width: 650px !important;*/
/*	min-width: 550px;*/
/*	height: 118px;*/
/*	text-align: center;*/
/*	cursor: pointer;*/
/*	overflow: hidden;*/
/*	-webkit-transition: border 0.2s cubic-bezier(0.19,1,.22,1),color .2s cubic-bezier(0.19,1,.22,1);*/
/*	transition: border 1s cubic-bezier(0.19,1,.22,1), color .2s cubic-bezier(0.19,1,.22,1), background 1s cubic-bezier(0.19,1,.22,1);*/
/*    color: rgba(200,100,0,0.1);*/
/*    text-shadow: 1px 0px 0px rgba(0,0,0,0.9) !important;*/
/*    text-decoration: none;*/
/*    box-shadow: rgba(100,100,100,0.8) !important;*/
    /*text-shadow: 1px 0px 1px rgba(30,30,30,0.8) !important;*/
    /* Fallback: assume this color ON TOP of image */
/*   background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/577362/pexels-photo-110212_(1).jpeg) no-repeat !important;*/
/*   -webkit-background-clip: text;*/
/*   -webkit-text-fill-color: transparent;*/
/*}*/


/*.blogs-u-can-fork {*/

/* OLD COLORFUL BUTTON */

/*    font-family: 'Josefin Sans';*/
/*      position: absolute;*/
/*      margin-top:-3%;*/
/*      margin-left: -22%;*/
/*      letter-spacing: -1px;*/
/*      color: rgba(255,255,255,0.7)!important;*/
/*      font-size: 75px;*/
/*      font-weight: 700;*/
/*      text-shadow: 1px 0px 0px rgba(255,153,51,0.5) !important;*/
      /*color: rgba(20,20,20,0.87);*/
/*  }*/

.header-img {
   position: absolute;
   z-index: -1;
   margin-top: -18%;
   margin-left: -19%;
   height: 100%;
   width: 105%;
}

 .sidebar-div {
   font-family: 'Montserrat';
    font-variant: small-caps;
    font-size: 25px;
    color: rgba(20,20,20,0.8);
    margin-left: 0%;
    margin-top: 0%;
   }

.opaque-overlay {
  /*background-size: cover;*/
  display: block;
  position: absolute;
  margin-top: -18%;
  margin-left: -19%;
  height: 100%;
  width: 105%;
  background: rgba(50,30,85,0.6);
  z-index: 1;
 
}

.opaque-overlay-thin {
  /*background-size: cover;*/
  display: block;
  position: absolute;
  margin-top: -18%;
  margin-left: -19%;
  height:100%;
  width: 105%;
  background: rgba(50,30,85,0.15);
  z-index: 4;
 
}




.hello-user {
    position: absolute;
    margin-left: -30%;
    font-family: 'Montserrat';
    margin-top: 58%; /* increase this positive integer to move down */
    /*width: 800px;*/
    font-size: 18px;
    font-weight: 500;
    text-shadow: 2px 2px 2px rgba(100,100,100,0.3);
    padding-bottom: 5px;
    width: 600px;
    border-radius: 0px 0px 15px 0px;
    z-index: 5;
}

/*FONT SELECTOR */

.font-selector {
  background: #222;
  display: inline-block;
  border-radius: 4px;
  position: relative;
}
.font-selector:before {
  content: ' ';
  position: absolute;
  right: 9px;
  bottom: 10px;
  color: #fff;
  border-top: 9px solid #fff;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
}
.font-selector select::-ms-expand {
  /* for IE 11 */
  display: none;
}
.font-selector select {
  cursor: pointer;
  padding: 0 10px;
  font-size: 18px;
  max-width: 200px;
  width: 200px;
  height: 40px;
  max-height: 40px;
  line-height: 40px;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #fff;
  border: 0px;
  outline: 0px;
  border-radius: 0;
}
.font-selector select option {
  font-size: 15px;
  background: #2a3a4a;
  border: 0px solid;
  outline: 0px solid;
  border-radius: 4px;
}

/* END FONT SELECTOR TEXT */
.font-selector-text {
  background: #222;
  display: inline-block;
  border-radius: 4px;
  position: relative;
}
.font-selector-text:before {
  content: ' ';
  position: absolute;
  right: 9px;
  bottom: 10px;
  /*color: #fff;*/
  border-top: 9px solid #fff;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
}
.font-selector-text select::-ms-expand {
  /* for IE 11 */
  display: none;
}
.font-selector-text select {
  cursor: pointer;
  padding: 0 10px;
  font-size: 18px;
  max-width: 200px;
  width: 200px;
  height: 40px;
  max-height: 40px;
  line-height: 40px;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #fff;
  border: 0px;
  outline: 0px;
  border-radius: 0;
}
.font-selector-text select option {
  font-size: 15px;
  background: #2a3a4a;
  border: 0px solid;
  outline: 0px solid;
  border-radius: 4px;
}

.font-select-div {
    margin-top:30%;
}

.preview-title {
  margin-top: 20px;
  font-size: 42px;
  color: rgba(20, 20, 20, 0.85);
  text-shadow: 2px 2px 2px rgba(100, 100, 100, 0.4);
  font-weight: bold;
}

.preview-text {
  font-family: 'Josefin Sans';
  margin-top: 30px;
  font-size: 29px;
  padding-left: 10px;
  color: rgba(10, 10, 10, 0.85);
  text-shadow: 2px 2px 2px rgba(100, 100, 100, 0.3);
  white-space: pre-wrap;
}


a.logout-button {
    position: absolute;
    font-family: Helvetica !important;
    letter-spacing: -8px;
    margin-top: -90%; /*Increment the negative integer to push me up */
    margin-left: 215%;
    font-size: 56px;
    text-decoration: none;
    color: rgba(220,100,0,0.7) !important;
    z-index: 4;
    /*text-shadow: 2px 2px 2px rgba(220,220,220,0.2), 1px 1px 1px rgba(230,230,230,0.2);*/
}

.logout-button:hover {
    text-decoration: none;
    color: rgba(255,123,0,0.9);
}

/*.hello-user-and-whats-up-div {*/
/*    position: relative;*/
/*}*/

.whats-happening-button {
    /*WHAT's UP*/
    font-family: Helvetica;
    font-size: 90px;
    letter-spacing: -9px;
    font-weight: 800;
	position: absolute;
	margin-left: -80%;

	color: rgba(200,10,150,0.8);
	/*background-color: rgba(255,255,255,0.07);*/

	/*background-size: cover;*/
	/*background: url(https://raw.githubusercontent.com/hudsonmarinho/header-and-footer-parallax-effect/master/assets/images/bg-header.jpg) no-repeat 50% 50% !important;*/
	border: 1px double rgba(10,10,10,0.6);
	border-radius: 1px 3px 0px 10px;
	max-width: 650px !important;
	text-shadow: 1px 1px 1px rgba(150,10,150,0.38);
	min-width: 550px;
	height: 130px;
	text-align: center;
	text-shadow: 1px 1px 0px rgba(100,20,190,0.3);
	cursor: pointer;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/577362/rsz_1fire-swirling-acrobat-800-600.jpg) 70% 30%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*List of pexels photos 
STARRY NIGHT SKY 8/10
https://s3-us-west-2.amazonaws.com/s.cdpn.io/577362/pexels-photo-116191.jpeg
DARKER STARRY NIGHT SKY:
https://s3-us-west-2.amazonaws.com/s.cdpn.io/577362/pexels-photo-111174.jpeg

*/


.whats-happening-button:hover {
    color: rgba(200,100,0,.6);
    text-decoration: none;
}

/*h1 {*/
    /* Fallback: assume this color ON TOP of image 
/*   background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/577362/pexels-photo-239898.jpeg) no-repeat;*/
/*   -webkit-background-clip: text;*/
/*   -webkit-text-fill-color: transparent;*/
/*}*/


.latest-stories-main-title {
    letter-spacing: 3px;
    text-align: center;
    font-size: 500%;
    color: rgba(20,20,20,0.4);
    font-family: garamond;
    font-weight: 400;
    color: rgba(10,10,10,0.8);
    text-shadow: 1px 1px 1px rgba(100,100,100,0.5);
}

.post-title{
    font-family: garamond !important;
}

.post-preview {
    font-family: garamond !important;
}


/* SHOW PAGE BUTTONS */
 
  .show-main {
     background-color: rgba(10,10,10,0) !important;
     color: orange !important;
     border: 1px solid black !important;
     font-size: 45px !important;   
     font-family: 'Raleway' !important;
     font-weight: 200 !important;
     margin-left: 0% !important;
     letter-spacing: -4px;
     
}

 .show-edit {
     background-color: rgba(10,10,10,0) !important;
     color: orange !important;
     border: 1px solid rgba(20,20,20,0) !important;
     font-size: 45px !important;   
     font-family: 'Raleway' !important;
     font-weight: 200 !important;
     margin-left: 26% !important;
     letter-spacing: 1px;
 }
 
 .show-page-fork-btn {
    position: absolute;
    /*height: 195px;*/
    /*width: 190px;*/
    font-size: 104px !important;
    /*border-radius: 2px !important;*/
    font-family: 'Raleway' !important;
    font-weight: 100;
    text-transform: small-caps !important;
    margin-left: 75% !important;
    margin-top: -7% !important;
    /*background-color: rgba(30,140,40,0.7);*/
    whitespace: pre-wrap !important;
    color: rgba(200,102,0,0.9) !important;
    text-shadow: 1px 1px 1px rgba(200,100,10,0.7), 2px 2px 2px rgba(180,90,0,0.7);
    display: table-cell !important;
    vertical-align: middle !important;
    line-height: -20px !important;
    background-color: rgba(20,20,20,0) !important;
    border: 1px solid rgba(20,20,20,0) !important;
 }
 
 /* END SHOW PAGE NAVBAR BUTTONS */
 




 
 .login-btn {
     white-space: pre;
     font-size: 24px;
     margin-left: -3%;
     color: rgba(240,100,20,0.8);
     /*text-shadow: 1px 1px 1px rgba(0,0,0,0.3);*/
     font-family: 'Montserrat';
     letter-spacing: 3px;
     
 }
 
 .login-btn:hover {
     white-space: pre;
     font-size: 20px;
     margin-left: -3%;
     color: black;
     
 }
 
 .sign-up-btn 
 { font-size: 24px;
   color: rgba(230,80,4,0.8);
   font-family: 'Montserrat';
   letter-spacing: -3px;
 }
 
  .sign-up-btn:hover 
 { font-size: 20px;
   color: black;
  }
  
 
  
  
  /* WHAT'S UP BUTTONS */
  
  /* ORIGINAL COLORS
  
  .multi-letter-1 {
      color: rgba(20,20,20,0.9);
  }
    
     .multi-letter-2 {
      color: rgba(200,50,30,0.85);
  }
  
   .multi-letter-3 {
      color: rgba(20,20,20,0.8);
  }
  
   .multi-letter-4 {
      color: rgba(20,20,20,0.9);
  }
  
   .multi-letter-5 {
      color: rgba(20,20,20,0.9);
  }
  
   .multi-letter-6 {
      color: rgba(0,100,20,0.8);
  }
  
   .multi-letter-7 {
      color: rgba(20,120,230,0.6);
  }

*/


/*.long-fork-button:hover {*/
/*   background-color: rbga(120,56,120,0.3) !important;*/
/*}*/

/* HEADER GHOST BUTTON */

/* ORIGINAL CODEPEN http://codepen.io/Teeke/pen/JNXmKj */

.center-wrap {
	position: relative;
	top: calc(50% - 100px);
	left: calc(50% - 125px);
	width: 250px;
	height: 200px;
} 






/*.button a {*/
/*	color: #111 !important;*/
/*	font-family: 'Century Gothic';*/
/*	text-decoration: none;*/
/*}*/

.button .mask {
	background: #fff;
	background: rgba(255,255,255,0.5);
}

.button .mask {
	position: absolute;
	display: block;
	width: 200px;
	height: 100px;
	-webkit-transform: translate3d(-120%,-50px,0) rotate3d(0,0,1,45deg);
	transform: translate3d(-120%,-50px,0) rotate3d(0,0,1,45deg);
	-webkit-transition: all 1.1s cubic-bezier(0.19,1,.22,1);
	transition: all 1.1s cubic-bezier(0.19,1,.22,1);
}

.button .shift {
	-webkit-transition: all 1.1s cubic-bezier(0.19,1,.22,1);
	transition: all 1.1s cubic-bezier(0.19,1,.22,1);
}

.button:hover {
	border-color: #fff;
	 text-decoration: none;
	/* box-shadow: 0 0 5px rgba(255,245,245,0.8); */
	/* background-image: url('http://cuinine.com/img/codepen/savvy.jpg'); */
}

/*.button:hover a {*/
/*	color: #fff;*/
/*	text-decoration: none !important;*/
/*}*/

.button:hover .mask {
	background: #fff;
	-webkit-transform: translate3d(120%,-100px,0) rotate3d(0,0,1,90deg);
	transform: translate3d(120%,-100px,0) rotate3d(0,0,1,90deg);
}

.button:hover .shift {
	padding-left: 5px;
}

/* COLORS ON MAIN WHAT'S UP BUTTON*/

/*ORIGINAL COLORS*/


.first-letter-new {
    color: rgba(20,20,20,0.8);
       text-shadow: 2px 2px 2px rgba(100,20,100,0.7);
}

.second-letter-new {
    color: rgba(240,90,15,0.5);
       text-shadow: 2px 2px 2px rgba(100,20,100,0.7);
}

.third-letter-new {
    color: rgba(255,100,15,0.6);
       text-shadow: 2px 2px 2px rgba(100,20,100,0.7);
}

.fourth-letter-new {
    color: rgba(255,100,10,0.7);
    text-shadow: 2px 2px 2px rgba(100,120,100,0.5);
}

/*Background gradients https://www.w3schools.com/css/css3_gradients.asp */

/* INDEX ＰＡＧＥ INDEXＰＡＧＥ */



.display-post-title-index {
    /*MAIN INDEX PAGE*/
    font-family: 'Montserrat' !important;
    width: 700px;
    font-size: 45px;
    letter-spacing: 1px;
    color: rgba(10,10,10,0.9);
    text-shadow: 1px 0px 1px rgba(60,0,60,0.8);
    /*text-align: center !important;*/
    font-variant: small-caps;
    margin-left: -2%;
    font-weight: 300;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/577362/rsz_1fire-swirling-acrobat-800-600.jpg) 70% 70%; /* ORIG no-repeat*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*text-decoration: underline;*/
   
}

.display-post-body {
    /*Main index page */
    height: auto;
    font-size: 25px;
    padding-top: 10px;
    font-family: 'Raleway';
    font-weight: 300;
    padding-left: 2px;
    line-height: 35px;
    letter-spacing: 1px;
    color: rgba(200,10,10,0.9) !important;
    /*text-shadow: 2px 2px 2px rgba(100,100,100,0.4);*/
    white-space: pre-wrap !important;
    /*background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/577362/winter_arch_black_and_white.jpeg) 30% 50%;*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

 .show-page-header {
     background: url(https://raw.githubusercontent.com/hudsonmarinho/header-and-footer-parallax-effect/master/assets/images/bg-header.jpg) no-repeat 50% 50% !important;
     position: absolute;
     height: 150px;
     width: 120%;
     margin-left: -18%;
     background: rgba(255,255,255,0);
     box-shadow: 2px 2px 2px rgba(20,20,20,0.8);
 }
 
 /*SHOW PAGE*/

.display-post-title-index-show {
    /*SHOW PAGE
    http://www.webdesigndev.com/best-google-fonts-for-headings/
    */
    font-family: 'Montserrat' !important;
    width: 900px !important;
    font-size: 46px;
    letter-spacing: 2px;
    color: rgba(3,3,3,0.8);
    text-shadow: 1px 1px 1px rgba(10,10,10,0.6);
    text-align: "center" !important;
    /*font-variant: small-caps;*/
    font-weight: 600;
    margin-left:-16%;
    padding-bottom: 4%;
     background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/577362/rsz_1fire-swirling-acrobat-800-600.jpg) 20% 20%;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   
}


 

.display-post-body-show {
    height: auto;
    width: 680px !important;
    font-size: 24px;
     font-weight: 300;
    margin-top: -7%;
    font-family: 'Montserrat';
    padding-left: 2px;
    line-height: 40px;
    margin-left: -8%;
    letter-spacing: 1px;
    /*background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/577362/rsz_1fire-swirling-acrobat-800-600.jpg);*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
    color: rgba(0,0,0,0.9);
    text-shadow: 2px 2px 2px rgba(100,100,100,0.3);
    white-space: pre-wrap;
 }


 

/* COLOR FOR MAIN BUTTON */

.first-title-letter {
    color: rgba(200,150,20,0.8);
}


.display-post-title-edit {
    font-family: 'Raleway' !important;
    font-size: 88px;
    letter-spacing: 9px;
    color: rgba(10,10,10,0.8);
    text-shadow: 1px 1px 1px rgba(100,100,100,0.5);
    text-align: center !important;
    white-space: pre;
   
}

/*.display-post-title {*/
/*    font-family: 'Josefin Sans' !important;*/
/*    font-size: 40px;*/
/*    letter-spacing: 9px;*/
/*    color: rgba(10,10,10,0.8);*/
/*    text-shadow: 1px 1px 1px rgba(100,100,100,0.5);*/
/*    z-index: 2;*/
/*    text-align: 'center' !important;*/
/*    white-space: pre-wrap !important;*/
/*    font-variant: small-caps;*/
   
   
/*}*/



.display-post-title-wrapper {
    /*box-shadow: -8px 0px 5px -5px rgba(0,0,0,.2), 8px 0px 5px -5px rgba(0,0,0,.2) !important;*/
    width: 900px;
    height: auto;
    position: relative;
    padding-left: 9%;
     text-align: 'right' !important;
     z-index: 2;
 }
 
.orange-post-title {
    color: rgba(180,90,0,0.9);
    font-weight: 700;
}

/* http://stackoverflow.com/questions/2360386/prevent-box-shadow-from-showing-on-a-specific-side

http://stackoverflow.com/questions/14067358/remove-right-side-of-box-shadow

*/

.display-post-body-wrapper {
      /*box-shadow: 0px 1px 1px rgba(20,0,20,0.6), 0px 2px 4px rgba(40,0,40,0.4) !important;*/
      height: 600px;
      width: auto;
      padding: 0px;
      position: relative;
      margin-top: -4%;
      z-index: 1;
}

.unicode-lg {
    color: rgba(20,20,20,0.9) !important;
    font-size: 26px !important;
 
}

.fork-count {
    font-family: garamond !important;
    display: inline;
    font-size: 24px;
}

.edit-letter-1 {
    color: rgba(0,20,20,0.1);
    text-shadow: rgba(00,100,100,0.9);
}

.edit-letter-2 {
     color: rgba(0,25,20,0.1);
      text-shadow: rgba(00,100,100,0.9);
 
}

.edit-letter-3 {
     color: rgba(0,30,20,0.1);
      text-shadow: rgba(00,100,100,0.9);
  
}

.edit-letter-4 {
     color: rgba(0,35,20,0.1);
      text-shadow: rgba(00,100,100,0.9);
   
}

.edit-letter-5 {
     color: rgba(0,35,20,0.1);
      text-shadow: rgba(00,100,100,0.9);
   
}

.edit-letter-6 {
     color: rgba(0,40,20,0.1);
      text-shadow: rgba(00,100,100,0.9);
 
}

.teal-username {
    color: rgba(0,80,80,0.9)
}

.block-btn {
    width: 100%;
    height: 30%;
    font-size: 34px;
    font-variant: small-caps;
}

/* End Display Posts */

/* Form Control*/

.form-control-title {
     height: 60px !important;
    font-size: 34px !important;
    font-family: 'Montserrat' !important;
     line-height: 2px;
    color: rgba(10,10,10,0.8);
    text-shadow: 1px 1px 1px rgba(100,100,100,0.4);
    border-radius: 20px;
    
}

.form-control-body {
    height: 300px !important;
    font-size: 23px !important;
    font-family: 'Raleway' !important;
     line-height: 2px;
    color: rgba(10,10,10,0.8);
    text-shadow: 1px 1px 1px rgba(100,100,100,0.4);
    border: 1px solid rgba(255,255,255,0.6) !important;
}

/*.form-control-body:focus {*/
       /*border: 1px solid rgba(20,20,20,0.2) !important;*/
/*}*/

.control-label{
    /*Takes away the 'title' and 'body' tags above text boxes */
    display: none;
}


/* End Form Control */

.edit-title {
    /*The title users see*/
    font-family: "Century Gothic" !important;
}

/*BLOGS YOU CAN FORK LETTERS*/

/*

#multi-colored-letter-1{
    color: rgba(150,40,150,0.75) !important;
    text-shadow: rgba();
    
}

#multi-colored-letter-2{
    color: rgba();
    text-shadow: rgba();
}

#multi-colored-letter-3{
    color: rgba();
    text-shadow: rgba();
}

*/

/*

#multi-colored-letter-4{
    /* g */
    
    /*
    color: rgba(20,130,10,0.7);
    text-shadow: rgba();
}

#multi-colored-letter-5{
    color: rgba();
    text-shadow: rgba();
}

#multi-colored-letter-6{
    /* y */ /*
   color: rgba(180,0,0,0.8);
    text-shadow: rgba();
}

#multi-colored-letter-7{
    color: rgba();
    text-shadow: rgba();
}

#multi-colored-letter-8{
    color: rgba();
    text-shadow: rgba();
}

#multi-colored-letter-9{
    color: rgba();
    text-shadow: rgba();
}

#multi-colored-letter-10{
    /* A */ /*
    color: rgba(20,20,20,0.1);
    text-shadow: rgba(255,255,255,0.9), rgba(100,100,100,0.7);
}

#multi-colored-letter-11{
    color: rgba();
    text-shadow: rgba();
}

#multi-colored-letter-12{
    color: rgba();
    text-shadow: rgba();
}

#multi-colored-letter-13{
    color: rgba();
    text-shadow: rgba();
}

#multi-colored-letter-14 {
    color: rgba(200,100,20,0.8);
    text-shadow: rgba();
}

#multi-colored-letter-15 {
    color: rgba();
    text-shadow: rgba();
}

*/

#btn-huge-div {
  margin-left: 34%;
  font-family: 'century gothic' !important;
  text-align: 'center' !important;
}

.btn-span {
    width: 70%;
    height: 30%;
    border: 1px solid rgba(24,24,24,0.2) !important;
    background-color: rgba(80,0,80,0.9)!important;
    box-shadow: 1px 1px 1px rgba(30,30,30,.8) !important;
    text-transform: small-caps !important;
    color: rgba(255,255,255,1) !important;
    border-radius: 15px 4px 15px 4px !important;
}

.centered-text {
    position: relative;
    text-align: center !important;
    display: table-cell !important;
    margin-left: 10%;
   }
   
   .publish-button {
       background-color: rgba(10,10,10,0.9) !important;
       color: rgba(200,100,20,0.9) !important;
       font-family: Montserrat;
   }
   
  
   

.sidebar-1 {    
    position: absolute;
  -webkit-transform: rotate(-10deg); 
            transform: rotate(-10deg);
            font-size: 23px;                
            height: 200px;
            width: 200px;
            margin-top: 30%;
       margin-left: 250%;
         color: rgba(25,25,25,0.8); /* ORIG (0,150,80) */
       /*text-shadow: 0px 1px 1px rgba(200,100,10,0.8);*/
       letter-spacing: 3px;
       text-decoration: underline overline;
       text-decoration-color: rgba(20,90,30,0.8);
       
}

.sidebar-2 {    
    position: absolute;
  -webkit-transform: rotate(-10deg); 
            transform: rotate(-10deg);
        
            font-size: 23px;                
            height: 200px;
            width: 200px;
            margin-top: 44%;
    margin-left: 250%;
        color: rgba(25,25,25,0.8);
        text-decoration: underline overline;
        letter-spacing: -2px;
        text-decoration-color: rgba(20,90,30,0.8);
     
  
}

.sidebar-3 {    
    position: absolute;
  -webkit-transform: rotate(-10deg); 
            transform: rotate(-10deg);
        
            font-size: 23px;                
            height: 200px;
            width: 200px;
            margin-top: 59%;
    margin-left: 250%;
        color: rgba(25,25,25,0.8);
        text-decoration: underline overline;
        letter-spacing: 3px;
        text-decoration-color: rgba(20,90,30,0.8);
  
     
}

.sidebar-4 {    
    position: absolute;
  -webkit-transform: rotate(-10deg); 
            transform: rotate(-10deg);
         
            font-size: 23px;                
            height: 200px;
            width: 200px;
            margin-top: 74%;
    margin-left: 250%;
        color: rgba(25,25,25,0.8);
        text-decoration: underline overline;
        letter-spacing: -2px;
        text-decoration-color: rgba(20,90,30,0.8);
  
      
}

.sidebar-5 {    
    position: absolute;
  -webkit-transform: rotate(-10deg); 
            transform: rotate(-10deg);
        
            font-size: 23px;                
            height: 200px;
            width: 200px;
            margin-top: 88%;
    margin-left: 250%;
        color: rgba(25,25,25,0.9);
        letter-spacing: 3px;
        text-decoration: underline overline;
        text-decoration-color: rgba(20,90,30,0.8);
     
}

.sidebar-6 {    
    position: absolute;
  -webkit-transform: rotate(-10deg); 
            transform: rotate(-10deg);
         
            font-size: 23px;                
            height: 200px;
            width: 200px;
            margin-top: 100%;
    margin-left: 249%;
        color: rgba(25,25,25,0.8);
        letter-spacing: -2px;
        text-decoration: underline overline;
        text-decoration-color: rgba(20,90,30,0.8);
      
}

.sidebar-7 {    
    position: absolute;
  -webkit-transform: rotate(-10deg); 
            transform: rotate(-10deg);
           
            font-size: 23px;                
            height: 200px;
            width: 200px;
            margin-top: 112%;
    margin-left: 248%;
        color: rgba(25,25,25,0.8);
        letter-spacing: 3px;
        text-decoration: underline overline;
        text-decoration-color: rgba(20,90,30,0.8);
  }

.sidebar-8 {    
    position: absolute;
  -webkit-transform: rotate(-26deg); 
            transform: rotate(-26deg);
           
            font-size: 25px;                
            height: 200px;
            width: 200px;
            margin-top: 145%;
    margin-left: 250%;
        color: rgba(255,255,255,0.8);
       text-shadow: 0px 1px 1px rgba(200,100,10,0.8);
       font-variant: small-caps;
}

.sidebar-9 {    
    position: absolute;
  -webkit-transform: rotate(-26deg); 
            transform: rotate(-26deg);
            color: rgba(20,20,20,0.87);
            font-size: 25px;                
            height: 200px;
            width: 200px;
            margin-top: 160%;
    margin-left: 250%;
     font-variant: small-caps;
}




  
  .upvote-arrow {
      font-size: 30px;
      color: rgba(60,10,60,0.9);
      text-shadow: 2px 2px 2px ;
  }
  
  .upvote-font {
      font-family: 'Montserrat';
      color: rgba(20,100,20,.9) !important;
  }

/*#test-me {*/
/*    color: #222;*/
/*}*/

/*#test-me:before {*/
/*    content: "fuck";*/
/*    color: #333;*/
/*}*/

/*.btn-long-fork {*/
    /* FORK BUTTON ABOVE SHOW */
/*    position: absolute;*/
/*    height: 500px;*/
/*    width: 220px;*/
/*    font-size: 94px;*/
/*    border-radius: 2px !important;*/
/*    border: 1px white !important;*/
/*    font-family: garamond !important;*/
/*    margin-left: 730px !important;*/
/*    margin-top: 200px !important;*/
    /*background: url(http://static.pexels.com/photos/69898/pexels-photo-69898.jpeg) !important;*/
   
   /* COLORFUL: https://static.pexels.com/photos/21845/landscape-clouds-trees-sunrise-21845.jpg*/
/*    box-shadow: rgba(100,100,100,0.7);*/
   
/*}*/
/* INDEX BUTTONS READ EDIT EDLETE */

.btn-read-post {
    /* READ BUTTON*/
    /*background: rgba(240,230,20,0.5) !important;*/
    border: 1px solid rgba(255,255,255,0.5) !important;
     /*background: url(https://dl.airtable.com/eocKeUdRxenq1HDGthYu_jack_and_bill_large.jpg) 30% 30% no-repeat !important;*/
    height: 20% !important;
    width: 140px !important;
    font-family: 'Century Gothic';
    font-weight: 300;
    font-variant: small-caps;
    text-shadow: 2px 1px 2px rgba(20,20,30,0.3);
     border-radius: 20px;
     color: rgba(170,90,2,0.9) !important;
     background-color: rgba(10,10,10,0.9);
     box-shadow: 1px 1px 1px 1px rgba(130,130,130,0.7);
     background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/577362/pexels-photo-134620.jpeg) 70% 70% no-repeat !important;
  }

.btn-edit-post {
    /*EDIT*/ 
    /*background: rgba(20,40,150,0.7) !important;*/
    /*background: url(http://www.dailyartfixx.com/wp-content/uploads/2011/04/Abstraction-Willem-de-Kooning-1949-50.jpg) 30% 30% no-repeat !important;*/
    width: 120px;
    border-radius: 2px;
    background-color: rgba(255,255,255,0.9) !important;
    font-size: 20px;
    color: rgba(5,60,60,0.8);
    box-shadow: 1px 1px 1px 1px rgba(130,130,130,0.7) !important;
    
}


.btn-delete-post {
    /* DELETE BUTTON */
 /*background: url(http://www.artic.edu/aic/collections/citi/images/standard/WebLarge/WebImg_000352/141054_4173391.jpg) 30% 30% !important;*/
    border: 1px solid rgba(2,2,2,0.2) !important;
     border-radius: 5px;
     width: 108px;
     background-color: rgba(255,255,255,0.9) !important;
     color: rgba(20,20,20,1) !important;
     box-shadow: 1px 1px 1px 1px rgba(130,130,130,0.7) !important;
}

.upvote-count {
     font-family: garamond !important;
    display: inline;
    font-size: 24px;
}

.upvote-btn {
    width: 120px;
}

.fork-count {
    font-family: garamond !important;
    display: inline;
    font-size: 24px;
}

/* GHOST BUTTON CODE */


/*a {*/
/*  display: block;*/
/*  width: 220px;*/
/*  height: 70px;*/
/*  z-index: 1;*/
/*}*/

.large-test-button {
    font-size: 80px;
    white-space: pre;
    text-shadow: 2px 2px 2px rgba(255,255,255,0.6), 1px 1px 2px rgba(230,230,255,0.4);
}

.btn-multi-colour:after {
  content: '';
  background: linear-gradient(120deg, #6559ae, #ff7159, #6559ae);
  background-size: 400% 400%;
  -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 4px, 216px 4px, 216px 66px, 4px 66px, 4px 100%, 100% 100%, 100% 0%, 0% 0%);
  -moz-animation: gradient 3s ease-in-out infinite, border 1s forwards ease-in-out reverse;
  -webkit-animation: gradient 3s ease-in-out infinite, border 1s forwards ease-in-out reverse;
  animation: gradient 3s ease-in-out infinite, border 1s forwards ease-in-out reverse;
  text-decoration: none;
}
.btn-multi-colour > span {
  display: block;
  background: linear-gradient(120deg, #6559ae, #ff7159, #6559ae);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-animation: gradient 70s ease-in-out infinite;
  -webkit-animation: gradient 70s ease-in-out infinite;
  animation: gradient 70s ease-in-out infinite;
  text-decoration: none;
}

/* helpers */
/*.absolute-centering, body:after, a, a:after {*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 0;*/
/*  right: 0;*/
/*  bottom: 0;*/
/*  margin: auto;*/
/*}*/

/*.text-formatting, a {*/
/*  text-transform: uppercase;*/
/*  text-decoration: none;*/
/*  text-align: center;*/
/*  letter-spacing: 2px;*/
/*  line-height: 70px;*/
/*  font-family: 'Squada One', cursive;*/
/*  font-size: 28px;*/
/*}*/

/* motion */
@-moz-keyframes gradient {
  0% {
    background-position: 14% 0%;
  }
  50% {
    background-position: 87% 100%;
  }
  100% {
    background-position: 14% 0%;
  }
}
@-webkit-keyframes gradient {
  0% {
    background-position: 14% 0%;
  }
  50% {
    background-position: 87% 100%;
  }
  100% {
    background-position: 14% 0%;
  }
}
@keyframes gradient {
  0% {
    background-position: 14% 0%;
  }
  50% {
    background-position: 87% 100%;
  }
  100% {
    background-position: 14% 0%;
  }
}
@-moz-keyframes border {
  0% {
    -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 4px, 216px 4px, 216px 66px, 4px 66px, 4px 100%, 100% 100%, 100% 0%, 0% 0%);
  }
  25% {
    -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 4px, 216px 4px, 216px 66px, 216px 66px, 216px 100%, 100% 100%, 100% 0%, 0% 0%);
  }
  50% {
    -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 4px, 216px 4px, 216px 4px, 216px 4px, 216px 4px, 216px 4px, 100% 0%, 0% 0%);
  }
  75% {
    -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 4px, 4px 4px, 4px 4px, 4px 4px, 4px 4px, 4px 4px, 4px 0%, 0% 0%);
  }
  100% {
    -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 0% 100%);
  }
}
@-webkit-keyframes border {
  0% {
    -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 4px, 216px 4px, 216px 66px, 4px 66px, 4px 100%, 100% 100%, 100% 0%, 0% 0%);
  }
  25% {
    -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 4px, 216px 4px, 216px 66px, 216px 66px, 216px 100%, 100% 100%, 100% 0%, 0% 0%);
  }
  50% {
    -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 4px, 216px 4px, 216px 4px, 216px 4px, 216px 4px, 216px 4px, 100% 0%, 0% 0%);
  }
  75% {
    -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 4px, 4px 4px, 4px 4px, 4px 4px, 4px 4px, 4px 4px, 4px 0%, 0% 0%);
  }
  100% {
    -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 0% 100%);
  }
}
@keyframes border {
  0% {
    -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 4px, 216px 4px, 216px 66px, 4px 66px, 4px 100%, 100% 100%, 100% 0%, 0% 0%);
  }
  25% {
    -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 4px, 216px 4px, 216px 66px, 216px 66px, 216px 100%, 100% 100%, 100% 0%, 0% 0%);
  }
  50% {
    -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 4px, 216px 4px, 216px 4px, 216px 4px, 216px 4px, 216px 4px, 100% 0%, 0% 0%);
  }
  75% {
    -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 4px, 4px 4px, 4px 4px, 4px 4px, 4px 4px, 4px 4px, 4px 0%, 0% 0%);
  }
  100% {
    -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 0% 100%);
  }
}


/*END GHOST BUTTON CODE */