@import url('http://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700|Montserrat:400,700');

body {
    font-family: 'Raleway', sans-serif !important;
    font-size: 33px;
    color: rgba(20,20,20,0.8);
}

.latest-stories-main-title {
    letter-spacing: 3px;
    text-align: center;
    font-size: 500%;
    color: rgba(20,20,20,0.4);
    font-family: garamond;
    font-weight: 400;
    color: rgba(10,10,10,0.8);
    text-shadow: 1px 1px 1px rgba(100,100,100,0.5);
}

.post-title{
    font-family: garamond !important;
}

.post-preview {
    font-family: garamond !important;
}

.long-fork-button {
    /* at top of SHOW */
    height: 40px;
    width: 380px;
    font-size: 28px;
}

/*.long-fork-button:hover {*/
/*   background-color: rbga(120,56,120,0.3) !important;*/
/*}*/

/* Display Posts For Users */

.display-post-title {
    font-family: garamond !important;
    font-size: 48px;
    letter-spacing: 2px;
    color: rgba(10,10,10,0.8);
    text-shadow: 1px 1px 1px rgba(100,100,100,0.5);
   
}

.display-post-body {
    padding-top: 20px;
    font-family: garamond !important;
    padding-left: 10px;
    line-height: 2px;
    color: rgba(10,10,10,0.8);
    text-shadow: 1px 1px 1px rgba(100,100,100,0.4);
    font-size: 35px;
  
}

.display-post-title-wrapper {
    box-shadow: -8px 0px 5px -5px rgba(0,0,0,.2), 8px 0px 5px -5px rgba(0,0,0,.2) !important;
    width: 500px;
    position: relative;
    padding-left: 9%;
   
    
}

/* http://stackoverflow.com/questions/2360386/prevent-box-shadow-from-showing-on-a-specific-side

http://stackoverflow.com/questions/14067358/remove-right-side-of-box-shadow

*/

.display-post-body-wrapper {
      box-shadow: 0px 1px 1px rgba(20,0,20,0.6), 0px 2px 4px rgba(40,0,40,0.4) !important;
      height: 600px;
      width: 500px;
      padding: 5px;
      position: relative;
      margin-top: -1%;
      z-index: 1;
}

.unicode-lg {
    color: rgba(20,20,20,0.9) !important;
    font-size: 23px !important;
 
}

/* End Display Posts */

/* Form Control*/

.form-control-title {
     height: 60px !important;
    font-size: 48px !important;
    font-family: garamond !important;
     line-height: 2px;
    color: rgba(10,10,10,0.8);
    text-shadow: 1px 1px 1px rgba(100,100,100,0.4);
    border-radius: 20px;
    
}

.form-control-body {
    height: 300px !important;
    font-size: 35px !important;
    font-family: garamond !important;
     line-height: 2px;
    color: rgba(10,10,10,0.8);
    text-shadow: 1px 1px 1px rgba(100,100,100,0.4);
    border: 1px solid rgba(255,255,255,0.6) !important;
}

.form-control-body:focus {
   border: 1px solid rgba(20,20,20,0.2) !important;
}


/* End Form Control */

.edit-title {
    font-family: garamond !important;
}

.fork-count {
    font-family: garamond !important;
    display: inline;
    font-size: 18px;
}

#btn-huge-div {
    margin-left: 0%;
}

.btn-span {
    width: 70%;
    height: 30%;
    border: 1px solid rgba(24,24,24,0.2) !important;
    background-color: rgba(142,70,142,0.7)!important;
    box-shadow: 1px 1px 1px red !important;
    text-transform: small-caps !important;
    color: rgba(255,255,255,0.8) !important;
    border-radius: 15px 4px 15px 4px !important;
}


.btn-light-green {
    /*PURPLE READ BUTTON*/
    /*background: rgba(240,230,20,0.5) !important;*/
    border: 1px inset rgba(255,255,255,0.1) !important;
     /*background: url(https://dl.airtable.com/eocKeUdRxenq1HDGthYu_jack_and_bill_large.jpg) 30% 30% no-repeat !important;*/
    height: 20% !important;
    width: 80px !important;
    font-family: garamond;
     border-radius: 5px;
     color: rgba(255,255,255,1) !important;
     background-color: rgba(142,70,142,0.9)!important;
     
    
}


.btn-light-blue{
    /*EDIT*/ 
    /*background: rgba(20,40,150,0.7) !important;*/
    /*background: url(http://www.dailyartfixx.com/wp-content/uploads/2011/04/Abstraction-Willem-de-Kooning-1949-50.jpg) 30% 30% no-repeat !important;*/
    border-radius: 5px;
    background-color: rgba(255,255,255,0.9) !important;
    font-size: 20px;
    color: rgba(20,20,20,0.8);
    
}


.btn-light-red {
    /* DELETE BUTTON */
 /*background: url(http://www.artic.edu/aic/collections/citi/images/standard/WebLarge/WebImg_000352/141054_4173391.jpg) 30% 30% !important;*/
    border: 1px solid rgba(2,2,2,0.2) !important;
     border-radius: 5px;
     background-color: rgba(255,255,255,0.9) !important;
     color: rgba(20,20,20,1) !important;
}