<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}!", name: "Livestory" %></h2>
  <p class="lead">Writing stories together</p>
</div>

<p>10:33. Made a change to develop branch</p>
<p>10:53, made a change to newstory</p>

<div class="row marketing">
  

  
</div>
